@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h2>
        Agenda Personal.
    </h2>
    <a>
        En esta agenda podremos agregar contactos con sus respectivos datos organizandolos en distintas categorias.
    </a>
</div>
