@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No nos hacemos responsable por la posible perdida de informacion debido a problemas en nuestra base de datos.</p>
